/* Seteaza latimea si inaltimea la 100% din dimensiunea vizualizarii pentru html, body si root */
html, body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
